{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">


        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'css/templatemo-topic-listing.css' %}" rel="stylesheet">
 <style>
  /* Table color */
  .custom-table {
    background-color: #F0F0F0;
  }

  /* Text color */
  .custom-text {
    color: #000000;
  }

  /* Button color */
  .custom-button {
    background-color: #00ba00;
    color: #FFFFFF;
  }
  .custom-button-danger {
    background-color: #5c2424;
    color: #FFFFFF;
  }
</style>
    </head>
    
    <body class="topics-listing-page" id="top">

        <main>

            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <i class="bi-back"></i>
                        <span>SmartVote</span>
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'show_home_election_committee' %}">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'show_first_nomination' %}">HOD Approval</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'view_second_nomination' %}">SD Approval</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'for_third_nomination' %}">EIC Approval</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'principal_forth_nomination' %}">Principal Approval</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'view_candidates' %}">Candidates</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="{% url 'get_vote_result' %}">Vote Result</a>
                            </li>



                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                            </li>
                            
                        </ul>

                    </div>
                </div>
            </nav>



            <header class="site-header d-flex flex-column justify-content-center align-items-center">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-lg-5 col-12">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'show_home_election_committee' %}">Homepage</a></li>

                                    <li class="breadcrumb-item active" aria-current="page">Nomination Request for Student Dean Approval</li>
                                </ol>
                            </nav>

                            <h2 class="text-white">Nominations</h2>
                        </div>

                    </div>
                </div>
            </header>


            <section class="section-padding section-bg">
                <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="table-wrap" style="margin-top: 20px;">
                    <table class="table table-bordered table-hover custom-table">
                    <thead>
                      <tr>
                        <th class="custom-text">Candidate Image</th>
                        <th class="custom-text">Candidate Name</th>
                        <th class="custom-text">DOB</th>
                        <th class="custom-text">Email</th>
                        <th class="custom-text">Phone</th>
                        <th class="custom-text">Department</th>
                        <th class="custom-text">Gender</th>
                        <th class="custom-text">Address</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% for i in req %}
                      <tr scope="row">
                        <form action="{% url 'sd_accept' %}" method="POST">
                          {% csrf_token %}
                          <td><input type="text" name="n_id" value="{{i.n_id}}" hidden>
                          <img src="{% static 'candidate_images/' %}{{ i.candidate_image }}" alt="Candidate Image" width="100" height="100"></td>
                          <td>{{i.candidate_name}}<input type="text" name="candidate_name" value="{{i.candidate_name}}" hidden></td>
                          <td>{{i.candidate_dob}}<input type="text" name="candidate_dob" id="candidate_dob" value="{{i.candidate_dob}}" hidden></td>
                          <td>{{i.candidate_email}}<input type="text" name="candidate_email" id="candidate_email" value="{{i.candidate_email}}" hidden></td>
                          <td>{{i.candidate_phone}}<input type="text" name="candidate_phone" id="candidate_phone" value="{{i.candidate_phone}}" hidden></td>
                          <td>{{i.candidate_department}}<input type="text" name="candidate_department" id="candidate_department" value="{{i.candidate_department}}" hidden></td>

                          <td>{{i.candidate_gender}}<input type="text" name="candidate_gender" id="candidate_gender" value="{{i.candidate_gender}}" hidden></td>
                          <td>{{i.candidate_address}}<input type="text" name="candidate_address" id="candidate_address" value="{{i.candidate_address}}" hidden></td>



                          <td><input type="submit" class="btn custom-button" name="edit" id="edit" value="Approve"></td>
                        </form>
                        <form action="{% url 'sd_drop' %}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" name="n_id" value="{{i.n_id}}">
                          <td><input type="submit" class="btn custom-button-danger" name="delete" id="delete" value="Reject"></td>
                        </form>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>
          
            </section>
        </main>

        <footer class="site-footer section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-12 mb-4 pb-2">
                        <a class="navbar-brand mb-2" href="#">
                            <i class="bi-back"></i>
                            <span>SmartVote</span>
                        </a>
                    </div>

                    

                    

                    <div class="col-lg-3 col-md-4 col-12 mt-4 mt-lg-0 ms-auto">
                        

                        <p class="copyright-text mt-lg-5 mt-4">Copyright © 2023 SmartVote. All rights reserved.
                        
                        
                    </div>

                </div>
            </div>
        </footer>



        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/click-scroll.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
<script>
      // Wait for the page to load
      $(window).on('load', function() {
        // Scroll the page by 100 pixels vertically
        $('html, body').animate({ scrollTop: '+=250px' }, 'slow');
      });
    </script>
    </body>
</html>